@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  background-color: #0e0e0e;
  cursor: url(/assets/mdcursor.png), auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  /* height: calc(100vh - 60px); */
  /* height: 100vh; */
  display: flex;
}